$nav-bar-main: #292961;
$nav-bar-hover: #6b587b;
$menu-background: #fafafa;
$menu-selected-background: #f0f0f0;
$menu-active: #e7e7e7;
$main-menu-font-color: #707070;
$nav-tab-font-color: #d1d1f0;
$main-font-color: #2e2e2e;

